.sign{
	background-color: rgba(16, 100, 133, 0.6);
	padding: 20px;
	display: inline-block;
	width: 30%;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0 4px #555;
	z-index: 2;
	@extend %center;
	min-width: 350px;
	
	&__title{
		text-transform: uppercase;
		color: #fff;
	}

	&__form{
		width: 90%;
		margin: 0 auto;
	}

	&__input{
		margin-bottom: 10px;
		border: none;
		outline: none;
		width: 100%;
		height: 20px;
		border-radius: 2px;
		text-align: center;
		background: none;
		height: 40px;
		color: #fff;
		border-bottom: 2px solid #fff;
	}

	&__btn{
		margin-top: 20px;
		border: none;
		background: rgb(16, 100, 133);
		color: #fff;
		border-radius: 10px;
		padding: 10px 20px;
		font-weight: bold;
		width: 100%;
		text-transform: uppercase;
		cursor: pointer;
		margin-bottom: 20px;
		transition: background 300ms, box-shadow 300ms;

		&:hover{
			background: rgb(21, 115, 148);
			box-shadow: 0 0 1px #333;
		}
	}

	&__link{
		font-size: 12px;
		color: rgba(255, 255, 255, 0.6);
		font-weight: lighter;
		transition: color 300ms;

		&:hover{
			color: #fff;
		}

		&_reg{
			float: left;
		}

		&_forgot{
			float: right;
		}
	}
}