.author{
	margin-bottom: 20px;
	
	&__pic{
		height: 50px;
		width: 50px;	
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		margin-right: 5px;

		&>img{
			max-width: 100%;
			max-height: 100%;
		}
	}
	
	&__text{
		display: inline-block;
		vertical-align: middle;
	}
	&__name{
		display: inline-block;
		font-size: 16px;
	}

	&__post-date{
		display: inline-block;
		font-size: 14px;
		color: #555;

	}
}