.thumbnail{
	box-shadow: 0 0 1px #222;
	padding: 10px;
	background-color: #fff;
	margin-bottom: 1%;
}

.blur{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	background-image: url('../img/bg/sky.jpg');
	@extend %background;
	filter: blur(4px);
	transform: scale(1.03); //Чтобы убрать белые края
}

.horizontal-rule{
	margin: 15px 0;
	background-color: #bbb;
	border-color: #bbb;
	height: 1px;
	border: 0 
}