.nav{
	background-color: rgb(16, 100, 133);
	text-align: center;
	color: white;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	margin-bottom: 15px;
	
	&__list{
		text-align: left;
		font-size: 0;

		&_left{
			float: left;
		}

		&_right{
			float: right;
		}
	}

	&__item{
		font-size: 14px;
		display: inline-block;
		padding: 0 15px;
		transition: background-color 150ms;

		&:hover{
			background-color: rgb(21, 115, 148);
		}
	}

	&__title{
		display: inline-block;
		margin: 0;
	}
	&__link{
		color: white;
	}

}